.bookmark-edit-modal {
  border-radius: 10px;
  z-index: 100;
  box-shadow: 0 0px 183px rgba(0, 0, 0, 0.47);
  position: fixed;
  width: 500px;
  /* height: 500px; */
  background-color: hsl(210, 50%, 98%);
  left: 50%;
  top: 100px;
  margin-left: -250px;
  padding: 20px;
}

.bookmark-edit-modal-save {
  border-radius: 5px;
  font-weight: bold;
  background-color: inherit;
  padding: 5px;
  position: relative;
  font-size: 1.5vw;
  margin: 5px;
  margin-left: 0px;
  width: 4em;
  color: #32c080;
  margin-top: 10px;
  cursor: pointer;
  top: 0px;
  border: 1px solid #d5e1f1;
}

.bookmark-edit-modal-save:hover {
  top: -2px;
  transition: top 0.3s;
  box-shadow: 0 44px 79px rgba(0, 0, 0, 0.34);
}

.bookmark-edit-modal-save:active {
  background-color: #3ecf8e2a;
  color: #1f8859;
  outline: none;
}

.bookmark-edit-modal-save:focus {
  outline: none;
}

.bookmark-edit-modal-cancel {
  border-radius: 5px;
  border: 1px solid #d5e1f1;
  background-color: inherit;
  padding: 5px;
  position: relative;
  top: 0;
  font-size: 1.5vw;
  margin: 5px;
  margin-top: 15px;
  width: 4em;
  color: #e35252;
  cursor: pointer;
}

.bookmark-edit-modal-cancel:hover {
  top: -2px;
  transition: top 0.3s;
  box-shadow: 0 44px 79px rgba(0, 0, 0, 0.34);
}

.bookmark-edit-modal-cancel:active {
  background-color: #e352523b;
  color: #c54545;
  outline: none;
}

.bookmark-edit-modal-cancel:focus {
  outline: none;
}
