@media only screen and (max-width: 600px) {
  .container {
    position: absolute;
    z-index: 5;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    width: 40%;
  }
}

.container {
  margin: 10px;
  width: 260px;
}

.tab {
  font-family: "Product Sans";
  font-weight: 100;
  cursor: pointer;
  padding: 10px 26px;
  /* width: 260px; */
  font-size: 1.3rem;
  border-radius: 0 25px 25px 0;
}

a,
a:active,
a:focus {
  text-decoration: none;
}

svg {
  width: 20px;
  height: 20px;
  color: #6772e5;
  cursor: pointer;
  line-height: 1.3em;
  margin-right: 20px;
  margin-top: -4px;
  opacity: 0.8;
  overflow: hidden;
  transition: 0.15s transform;
  vertical-align: middle;
}

.name-container {
  letter-spacing: 0.01785714em;
  font-family: "Product Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  white-space: nowrap;
}

a:visited {
  color: #6b7c93;
}

.tab.selected {
  background-color: #f0f4ff;
  color: #6b78ff;
}

.tab.selected:hover {
  background-color: #f0f4ff;
  color: #6b78ff;
}

a:visited {
  text-decoration: none;
}

.tab:hover {
  background-color: #f0f4ff;
}
