@media only screen and (max-width: 600px) {
  .container {
    position: absolute;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    position: relative;
    background-color: white;
  }
}

.container {
  margin: 10px;
}

.tab {
  font-family: "Product Sans";
  font-weight: 100;
  cursor: pointer;
  padding: 10px 26px;
  /* width: 260px; */
  font-size: 1.3rem;
  border-radius: 0 25px 25px 0;
}

a,
a:active,
a:focus {
  text-decoration: none;
}

svg {
  width: 20px;
  height: 20px;
  color: #1a73e8;
  cursor: pointer;
  line-height: 1.3em;
  margin-right: 20px;
  margin-top: -4px;
  opacity: 0.8;
  overflow: hidden;
  transition: 0.15s transform;
  vertical-align: middle;
}

.name-container {
  letter-spacing: 0.01785714em;
  font-family: "Product Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  white-space: nowrap;
}

.tab.selected {
  background-color: #e8f0fe;
  color: #1a73e8;
}

.tab.selected:hover {
  background-color: #e8f0fe;
  color: #1a73e8;
}

.tab:hover {
  background-color: #e6eaf0;
}
